<h1 mat-dialog-title>{{empFormTitle}}</h1>
<div mat-dialog-content>
    <form [formGroup]="employeeForm">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput placeholder="First Name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Employee First Name</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput placeholder="Last Name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Employee Last Name</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email Id</mat-label>
            <input formControlName="emailId" matInput placeholder="Email Id">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Employee Email id</mat-hint>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)='onSubmit()'>{{actionBtn}}</button>
</div>