<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervisor_account</mat-icon>
  </button>
  <span>Employee Management System</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>view_list</mat-icon>
  </button>
  <button mat-raised-button color="warn" (click)='openDialog()'>Add Employee</button>
</mat-toolbar>
<app-employee-list></app-employee-list>